body {
    background-image: url("Minimalista.png");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}
.Barra {
    width: 100%;
    height: 65px;
    background-image: url("Barra.jpg");
    position: fixed;
}
.container {
    max-width: 1100px;
    margin: auto;
}
.logo {
    float: left;
    line-height: 65px;

    text-align:left;
}
.Menu {
    float: right;
    line-height: 65px;
}
.Menu ul {
    display: flex;
    list-style: none;
}
.Menu a {
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: rgba(53, 53, 53);
    transition: all 500ms ease;
}
.Menu a:hover {
    background: rgba(37, 67, 197);
    color: rgba(255, 255, 255);
}
.Menu .Submenu {
    background: rgba(255, 255, 255);
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.Menu .Submenu li a {
    line-height: 50px;
}
.Menu ul li a:hover + ul, .Menu .Submenu:hover {
    display: block;
}
.Portada {
    width: 100%;
    height: 520px;
    background-image: url("purpura.jpg");
    background-size: 100vw 100vh;
}
h1 {
    width: 50px;
    height: 50px;
    float: left;
    color:#2b2b2b;
    font-family: "Fredoka One", cursive;
    font-size: 55px;
}
h2 {
    font-size: 50px;
    color: rgba(255, 255, 255);
    font-family: "Fredoka One", cursive;
}
.Buscador {
    width: 350px;
    height: 50px;
    background: rgba(37, 67, 197);
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: rgba(255, 255, 255);
    font-size: 20px;
    padding: 5px;
    font-family: "Kalam", cursive;
 }
.Enviar {
    width: 70px;
    height: 50px;
    background: rgba(37, 67, 197);;
    border: none;
    border-radius: 5px 5px 5px 5px;
    color: rgba(255, 255, 255);
    font-size: 20px;
    padding: 5px;
    font-family: "Kalam", cursive;
}
.Enviar:hover {
    background: rgba(255, 255, 255);
    color: rgba(37, 67, 197);;
    border: 1px solid rgba(37, 67, 197);;
}
.pc {
    font-size: 25px;
    color: rgba(255, 255, 255);
    font-family: "Fredoka One", cursive; 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255);
    opacity: 1; /* Firefox */
}
:-moz-placeholder { /* Mozilla Firefox 4 a 18 */
    color: rgba(255, 255, 255);
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255);
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255);
}