:root {
	--num-columnas: 10;
	--num-filas: 10;
	--size: 48px;
}
.titulo {
	font-family: "Corbel";
	font-weight: bold;
	font-size: 40px;
	color: rgb(124, 124, 124);
}
#tablero {
	align-content: center;
	padding: 8px;
	display: grid;
	grid-template-columns: repeat(var(--num-columnas), var(--size));
	grid-template-rows: repeat(var(--num-filas), var(--size));
	background-color: #9c9c9c;
	border-left: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
	border-right: 1px solid #A9A9A9;
	width: calc(var(--num-columnas)*var(--size));
}
#tablero div {
	background-color: #BBBBBB;
	border-left: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
	border-right: 1px solid #A9A9A9;
	border-bottom: 1px solid #A9A9A9;
	text-align: center;
	line-height: var(--size);
}
#tablero div:hover {
	background: rgb(73, 73, 73);
    color: #000000;
    border: 1px solid #000000 ;
}
#tablero div.destapado {
	font-family: "Arial Black", sans-serif;
	font-size: 28px;
	font-weight: bold;
	border-left: 1px solid #6e6e6e;
	border-top: 1px solid #6e6e6e;
	border-right: 1px solid #888888;
	border-bottom: 1px solid #888888;
	text-shadow: 1px 1px 1px #666666;
}
#tablero div.sinmarcar {
	background-color: #ff0000;
}
.comenzar {
	font-family: "Corbel";
	font-weight: bold;
    width: 110px;
    height: 70px;
    background: #929292;
    border: 1px solid #222222;
    border-radius: 5px 5px 5px 5px;
    color: rgb(44, 44, 44);
    font-size: 20px;
    padding: 5px;
}
.comenzar:hover {
	color: #ffffff;
    border: 1px solid #ffffff ;
}
.reiniciar {
	font-family: "Corbel";
	font-weight: bold;
    width: 110px;
    height: 70px;
    background: #929292;
    border: 1px solid #222222;
    border-radius: 5px 5px 5px 5px;
    color: rgb(44, 44, 44);
    font-size: 20px;
    padding: 5px;
}
.reiniciar:hover {
	color: #ffffff;
    border: 1px solid #ffffff ;
}
#tablero div.banderaErronea {
	background-color: #AAAAAA;
	border: 1px solid #ff0000;
}
#estado {
	padding: 2px 10px 2px 10px;
	display:block;
	background-color: #BBBBBB;
	border-left: 1px solid #D3D3D3;
	border-right: 1px solid #5e5e5e;
	border-bottom: 1px solid #5e5e5e;
	width: calc(var(--num-columnas) * var(--size));
}
#estado div {
	text-align: center;
	font-family: "Corbel";
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	border-left: 1px solid #080808;
	border-top: 1px solid #4e4e4e;
	border-right: 1px solid #8d8d8d;
	border-bottom: 1px solid #8d8d8d;
	padding: 2px;
}
#tablero div.c1 {color: rgba(255, 0, 0);}
#tablero div.c2 {color: rgba(255, 230, 0);}
#tablero div.c3 {color: rgba(0, 51, 255);}
#tablero div.c4 {color: rgba(20, 175, 0);}
#tablero div.c5 {color: rgba(71, 0, 163);}
#tablero div.c6 {color: rgba(255, 145, 0);}
#tablero div.c7 {color: rgba(255, 0, 212);}
#tablero div.c8 {color: rgba(0, 255, 234);}
.icon-bandera:before { content: '\2691';  color: #0300a8;}
.icon-duda:before { content: '\003F'; color: #fffb00;}
.icon-bomba:before { content: '\1F4A3'; color:rgb(0, 0, 0)}