body {
    text-align: center;
    color: rgba(255, 255, 255);
    background: radial-gradient(circle, rgba(0,15,93,1) 0%, rgba(66,0,13,1) 100%);
    background-size: cover;
}
.Texto1 {
    font-family: "Secular One";
    font-size: 48px;
}
.Texto2 {
    font-family: "Secular One";
    font-size: 24px;
}
.tabla, .TablaContenido, tr, th {
    column-width: 200px;
    border-collapse: collapse;
    border: 2px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-weight: bolder;
    background-color: rgba(0, 17, 255);
    color: rgba(255, 255, 255);
    font-size: 20px;
}
#Nombres, #Apellidos, #MontoPrestamo, #FechaPago, #NPlazo {
    text-align: center;
    border: 1px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-size: 18px;
    width: 224px;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    transition: 0.2s ease-in-out;
}
#Nombres:hover, #Apellidos:hover, #MontoPrestamo:hover, #FechaPago:hover, #NPlazo:hover {
    text-align: center;
    border: 1px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-size: 18px;
    width: 224px;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    transition: 0.2s ease-in-out;
}
#Amortizacion {
    text-align: center;
    border: 1px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-size: 18px;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);;
    transition: 0.2s ease-in-out;
}
#Amortizacion:hover {
    text-align: center;
    border: 1px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-size: 18px;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
    transition: 0.2s ease-in-out;
}
#Boton1 {
    text-align: center;
    border: 1px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-size: 18px;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}
#Boton1:active {
    border: 1px solid rgba(255, 255, 255);
    font-family: "Palanquin Dark";
    font-size: 18px;
    background-color: rgba(255, 255, 255);
    color: rgba(0, 0, 0);
}